body {
    margin: 10px;
}

.box-org {
    width: 100px;
    height:100px;
    background-color: gold;
}

.box-pad {
    width: 100px;
    height:100px;
    background-color: gold;
    padding:20px;
    border: 10px solid orange;
}

.box-margin {
    width: 100px;
    height:100px;
    background-color: gold;
    padding:20px;
    border: 10px solid orange;
    margin: 50px;
}

.box-borderbox {
    width: 100px;
    height:100px;
    background-color: gold;
    padding:20px;
    border: 10px solid orange;
    box-sizing: border-box;
}